@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #adaaaa;
    --cor-secundaria: #f8f3eb;
    --cor-terciaria: #14213d;
    --cor-hover: #8b8484;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.logo__menu {
    padding: 2% 0% 0% 200%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-left: auto;
}

.logo__menu img {
    max-width: 100%;
    height: auto;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao__index{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo__index{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 87%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.apresentacao__conteudo__titulo{
    font-size: 2.20rem;
    font-family: var(--fonte-primaria);
    margin-right: 10%;
}
.apresentacao__imagem__titulo{
    display: flex;
    justify-content: center;
    padding-top: 45px;
}
.apresentacao__imagem__titulo__PrFoto{
    display: flex;
    justify-content: center;

}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    letter-spacing: normal;
}

.apresentacao__imagem__home{
    width: 48%;
    border-radius: 30px;
    
}
.apresentacao__imagem__sobre{
    width: 35%;
    border-radius: 30px;
    position: relative;
    top: -120px;
    
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}